@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  font-family: 'Poppins', sans-serif;
  /* cursor: context-menu; */
}

.globalBackground {
  background-color: #02475e;
}

.landingPageContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  cursor: context-menu;
  caret-color: transparent;
}

.landingPageHeader h3 {
  color: #d98e20;
  text-shadow: 0 2px 0 rgba(0, 0, 0, 0.5);
  font-size: 40px;
}

.landingPageHeader span::before {
  content: '';
  animation: animate infinite 8s;
  color: #faf1e6;
  padding: 0;
  margin: 0;
  text-shadow: 0 2px 0 rgba(0, 0, 0, 0.5);
  font-size: 25px;
}

@keyframes animate {
  0% {
    content: 'Data Analyst';
  }

  25% {
    content: 'Web Developer';
  }

  50% {
    content: 'Business Graduate'
  }

  75% {
    content: 'Fitness Enthusiast'
  }

  100% {
    content: 'Data Analyst'
  }

}

#tsparticles {
  height: 100vh;
}

.landingPageEnterButton {
  outline: 0;
  font-size: 0.1em;
  font-weight: 600;
  background: #faf1e6;
  border: none;
  padding: 2em 4em;
  transition: all .3s ease-out;
  box-shadow: inset 0 -8px 0 0 rgba(0, 0, 0, .2),
    1px 1px 0 0 #d98e20,
    2px 2px 0 0 #d98e20,
    3px 3px 0 0 #d98e20,
    4px 4px 0 0 #d98e20,
    5px 5px 0 0 #d98e20,
    6px 6px 0 0 #d98e20,
    7px 7px 0 0 #d98e20,
    8px 8px 0 0 #d98e20,
    9px 9px 0 0 #d98e20,
    10px 10px 0 0 #d98e20,
    11px 11px 0 0 #d98e20,
    12px 12px 0 0 #d98e20;
  display: block;
  caret-color: transparent;
  width: 25ch;
  color: #222;
  text-decoration: none;
}

.landingPageEnterButton:hover {
  color: #444;
  text-decoration: none;
}

.landingPageEnterButton:active {
  color: #222;
  box-shadow: inset 0 -4px 0 0 rgba(0, 0, 0, .2),
    1px 1px 0 0 #d98e20,
    2px 2px 0 0 #d98e20,
    3px 3px 0 0 #d98e20,
    4px 4px 0 0 #d98e20,
    5px 5px 0 0 #d98e20;
}

.top-margin-xs {
  margin-top: 1vh;
}

.top-margin-mini {
  margin-top: 5vh;
}

.bottom-margin-mini {
  margin-top: 5vh;
}

.avatarPicture {
  display: inline-block;
  margin: auto;

}

.avatarPicture img {
  width: 150px;
  height: 150px;
  border-radius: 48%;
  border: 3px outset #d98e20;
}

.socials {
  font-size: 40px;
  color: #d6a150;
  text-decoration: none;
}

.socials a {
  margin-right: 20px;
  margin-left: 5px;
  color: #d6a150;
  display: inline;
  text-decoration: none;
}

.socials :hover {
  color: #d98e20;
}

nav {
  position: fixed;
  z-index: 10;
  left: 0;
  right: 0;
  top: 0;
  padding: 0 5%;
  height: 60px;
  caret-color: transparent;
  cursor: context-menu;
}

nav .logo {
  float: left;
  width: 40%;
  height: 100%;
  display: flex;
  align-items: center;
  font-size: 24px;
  color: #faf1e6;
}

nav .links {
  float: right;
  padding: 0;
  margin: 0;
  width: 60%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #faf1e6;
  caret-color: transparent;
}

nav .links li {
  list-style: none;
}

nav .links Link {
  display: block;
  padding: 1em;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
}

nav .links :hover {
  color: #d98e20;
}

nav .links :active {
  color: #d98e20;
}

#nav-toggle {
  position: absolute;
  top: -100px;
}

nav .icon-burger {
  display: none;
  position: absolute;
  right: 5%;
  top: 50%;
  transform: translateY(-50%);
}

nav .icon-burger .line {
  width: 30px;
  height: 5px;
  background-color: #faf1e6;
  margin: 5px;
  border-radius: 3px;
  transition: all .3s ease-in-out;
}

@media screen and (max-width: 768px) {
  nav .logo {
    float: none;
    width: auto;
    justify-content: center;
  }

  nav .links {
    float: none;
    position: fixed;
    z-index: 9;
    left: 0;
    right: 0;
    top: 100px;
    bottom: 100%;
    width: auto;
    height: auto;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: rgba(0, 0, 0, .9);
    overflow: hidden;
    box-sizing: border-box;
    transition: all .5s ease-in-out;
  }

  nav .links :hover {
    color: #d98e20;
  }

  nav .links Link {
    font-size: 20px;
  }

  nav :checked~.links {
    bottom: 0;
  }

  nav .icon-burger {
    display: block;
  }

  nav :checked~.icon-burger .line:nth-child(1) {
    transform: translateY(10px) rotate(225deg);
  }

  nav :checked~.icon-burger .line:nth-child(3) {
    transform: translateY(-10px) rotate(-225deg);
  }

  nav :checked~.icon-burger .line:nth-child(2) {
    opacity: 0;
  }

  .image-section img {
    width: 20%;
    height: auto;
    display: block;
  }
}

.homepageContainer {
  padding: 0;
  margin: 0;
}

.greySection {
  background-color: #e7e6e1;
  min-height: 100vh;
}

.offwhiteSection {
  background-color: #fdfaf6;
  min-height: 100vh;
}

.section {
  width: 100%;
  min-height: 100vh;
  height: auto;
}

.container {
  width: 88%;
  display: block;
  /* margin: auto; */
  padding-top: 18vh;
}

.content-section {
  float: left;
  width: 55%;
  caret-color: transparent;
}

.image-section {
  float: right;
  width: 40%;
  border-radius: 0% 0% 0% 0% / 0% 0% 0% 0%;
  color: white;
  box-shadow: 20px 20px rgba(0, 0, 0, .15);
  transition: all .4s ease;
}

.image-section:hover {
  border-radius: 0% 0% 50% 50% / 0% 0% 5% 5%;
  box-shadow: 10px 10px rgba(0, 0, 0, .25);
}

.image-section img {
  width: 100%;
  height: auto;
}

.content-section .title {
  text-transform: uppercase;
  font-size: 28px;
}

.content-section .section p {
  margin-top: 10px;
  font-family: sans-serif;
  font-size: 18px;
  line-height: 1.5;
}

.services-section {
  background: linear-gradient(rgba(0, 0, 0, 0.8),
      rgba(0, 0, 0, 0.8)), url('./mediaSources/services_bg_n.jpg');
  background-size: cover;
  padding: 60px 0;
  min-height: 100vh;
  caret-color: transparent;
}

.inner-width {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  padding: 0 20px;
  overflow: hidden;
}

.section-title {
  text-align: center;
  color: #faf1e6;
  text-transform: uppercase;
  font-size: 30px;
  caret-color: transparent;
}

.section-title-dark {
  color: #222;
  text-align: center;
  text-transform: uppercase;
  font-size: 30px;
  caret-color: transparent;
}

.border {
  width: 160px;
  height: 2px;
  background: #e7e6e1;
  margin: 40px auto;
  caret-color: transparent;
}

.border-dark {
  width: 160px;
  height: 2px;
  background: #222;
  margin: 40px auto;
  caret-color: transparent;
}

.component-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.service-box {
  min-width: 50%;
  padding: 5vh;
  text-align: center;
  color: #faf1e6;
  cursor: context-menu;
  caret-color: transparent;
}

.service-icon {
  display: inline-block;
  width: 70px;
  height: 70px;
  border: 3px solid #d98e20;
  border-radius: 50%;
  color: #e7e6e1;
  margin-bottom: 30px;
  margin-top: 16px;
}

.service-icon-rotate {
  line-height: 70px;
  font-size: 26px;
}

.service-box:hover .service-icon {
  background: #02475e;
  color: #e7e6e1;
}

.service-title {
  font-size: 18px;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.service-desc {
  font-size: 14px;
  text-transform: capitalize;
}

@media screen and (max-width:960px) {
  .service-box {
    max-width: 45%;
  }

  .experience-box {
    min-width: 100%;
  }

  .offwhiteSection {
    min-height: 120vh;
  }

  .greySection {
    min-height: 120vh;
  }

  .services-section {
    min-height: 120vh;
  }

  .testimonial-box .text {
    font-size: 14px;
  }
}

@media screen and (max-width:756px) {
  .service-box {
    width: 50%;
  }

  .experience-box {
    min-width: 100%;
  }

  .offwhiteSection {
    min-height: 120vh;
  }

  .greySection {
    min-height: 120vh;
  }

  .services-section {
    min-height: 120vh;
  }

  .testimonial-box .text {
    font-size: 16px;
  }

  .copied-notification {
    display: flex;
    flex-direction: column;
  }

}

@media screen and (max-width:480px) {
  .service-box {
    max-width: 100%;
  }

  .experience-box {
    min-width: 100%;
  }

  .offwhiteSection {
    min-height: 130vh;
  }

  .greySection {
    min-height: 120vh;
  }

  .services-section {
    min-height: 120vh;
  }

  .testimonial-box .text {
    font-size: 16;
  }

  .copied-notification {
    display: flex;
    flex-direction: column;
  }

}

.experience-section {
  padding: 60px 0;
  min-height: 100vh;
}

.experience-box {
  width: 80%;
  padding: 5vh;
  text-align: left;
  color: #222;
  caret-color: transparent;
  background: #f8f5f1;
  margin: 4vh;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.experience-title {
  justify-content: left;
  font-size: 18px;
  margin-bottom: 10px;
  font-weight: bold;
}

.experience-desc {
  justify-content: left;
  font-size: 16px;
  overflow: hidden;
}

.experience-company {
  justify-content: left;
  font-size: 14px;
  font-weight: 600;
  color: #005792;
}

.testimonial-section {
  padding: 60px 0;
  min-height: 100vh;
  caret-color: transparent;
  cursor: context-menu;
  /* display: flex; */
  /* align-items: center;justify-content: center; */
}

.testimonial-desc {
  max-height: 50%;
  overflow: scroll;
}

.testimonial-box {
  height: 80vh;
  padding-top: 10px;
  width: auto;
  background-color: #f8f5f1;
  border-radius: 10px;
  box-shadow: 0 8px 30px rgba(0, 0, 0, .3);
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  margin: 10%;
}

.testimonial-min-height {
  height: 50%;
}

.text {
  padding: 10px;
  font-size: 16px;
  text-align: left;
}

.text .testimonial-social a {
  font-size: 30px;
  margin-right: 2px;
  margin-left: 5px;
  color: #02475e;
  display: inline;
  text-decoration: none;
}

.text .testimonial-social a :hover {
  text-decoration: none;
  color: #0080aa;
}

.testimonial-person {
  height: 20%;
  margin-bottom: 5%;
}

.testimonial-footer {
  background: linear-gradient(90deg, #02475e 0%, #0080aa 100%);
  height: 40%;
  border-radius: 0 0 10px 10px;
  position: relative;
}

.testimonial-footer .testimonial-image {
  height: 120px;
  width: 120px;
  border-radius: 50%;
  border: 5px solid white;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  margin-left: 50%;
  margin-top: 10%;
}

.swiper-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.contact-section {
  height: 100vh;
  justify-content: center;
  align-items: center;
  cursor: context-menu;
  display: flex;
  flex-direction: column;
  background: linear-gradient(rgba(0, 0, 0, 0.8),
      rgba(0, 0, 0, 0.8)), url('./mediaSources/cbg.jpg');
  background-size: cover;
}

.contact-container {
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #faf1e6;
}

.contact-container .contactInfo {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 30px;
  caret-color: transparent;
}

.contact-container .contactInfo .box {
  position: relative;
  display: flex;
  padding: 20px 0;
}

.contact-container .contactInfo .box .icon {
  min-width: 60px;
  height: 60px;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: #d98e20 solid;
  font-size: 22px;
}

.contact-container .contactInfo .box .icon:hover {
  background: #0080aa;
}

.contact-container .contactInfo .box .text {
  font-weight: 300;
  margin-left: 20px;
  color: #f8f5f1;
}

.contact-container .contactInfo .box .text h3 {
  font-weight: 500;
  color: #d98e20;
}

.contactInfo button {
  color: #f8f5f1;
}

.copyToClipboard {
  cursor: pointer;
  caret-color: transparent;
  font-size: 15px;
}

.copied-notification {
  width: 100%;
  position: absolute;
  font-size: 18px;
  color: #4aa96c;
  margin-left: 10px;
}

.copied-notification span {
  padding-left: 10px;
}