@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  font-family: 'Poppins', sans-serif;
}

.globalBackground {
  background-color: #02475e;
}

.landingPageContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  cursor: context-menu;
  caret-color: transparent;
}

.landingPageHeader h3 {
  color: #d98e20;
  text-shadow: 0 2px 0 rgba(0, 0, 0, 0.5);
  font-size: 40px;
}

.landingPageHeader span::before {
  content: '';
  animation: animate infinite 8s;
  color: #faf1e6;
  padding: 0;
  margin: 0;
  text-shadow: 0 2px 0 rgba(0, 0, 0, 0.5);
  font-size: 25px;
}

@keyframes animate {
  0% {
    content: 'Data Analyst';
  }

  25% {
    content: 'Web Developer';
  }

  50% {
    content: 'Business Graduate'
  }

  75% {
    content: 'Fitness Enthusiast'
  }

  100% {
    content: 'Data Analyst'
  }

}

#tsparticles {
  height: 100vh;
}

.landingPageEnterButton {
  outline: 0;
  font-size: 0.1em;
  font-weight: 600;
  background: #faf1e6;
  border: none;
  padding: 2em 4em;
  transition: all .3s ease-out;
  box-shadow: inset 0 -8px 0 0 rgba(0, 0, 0, .2),
    1px 1px 0 0 #d98e20,
    2px 2px 0 0 #d98e20,
    3px 3px 0 0 #d98e20,
    4px 4px 0 0 #d98e20,
    5px 5px 0 0 #d98e20,
    6px 6px 0 0 #d98e20,
    7px 7px 0 0 #d98e20,
    8px 8px 0 0 #d98e20,
    9px 9px 0 0 #d98e20,
    10px 10px 0 0 #d98e20,
    11px 11px 0 0 #d98e20,
    12px 12px 0 0 #d98e20;
  display: block;
  caret-color: transparent;
  width: 25ch;
  color: #222;
  text-decoration: none;
}

.landingPageEnterButton:hover {
  color: #444;
  text-decoration: none;
}

.landingPageEnterButton:active {
  color: #222;
  box-shadow: inset 0 -4px 0 0 rgba(0, 0, 0, .2),
    1px 1px 0 0 #d98e20,
    2px 2px 0 0 #d98e20,
    3px 3px 0 0 #d98e20,
    4px 4px 0 0 #d98e20,
    5px 5px 0 0 #d98e20;
}

.top-margin-mini {
  margin-top: 25px;
}

.top-margin-max {
  margin-top: 50px;
}

.avatarPicture {
  display: inline-block;
  margin: auto;
  border-radius: 50%;
  border-color: #d98e20;
  border-style: solid;

}

.avatarPicture img {
  /* display: block; */
  width: 150px;
  height: 150px;
  border-radius: 48%;
}

.socials {
  font-size: 40px;
  color: #d6a150;
  text-shadow:
    0 1px 0px #d98e20,
    1px 0 0px #d6a150,
    1px 2px 1px #d98e20,
    2px 1px 1px #d6a150,
    2px 3px 2px #d98e20,
    3px 2px 2px #d6a150,
    3px 4px 2px #d98e20,
    4px 3px 3px #d6a150,
    4px 5px 3px #d98e20,
    5px 4px 2px #d6a150,
    5px 6px 2px #d98e20,
    6px 5px 2px #d6a150,
    6px 7px 1px #d98e20,
    7px 6px 1px #d6a150,
    7px 8px 0px #d98e20,
    8px 7px 0px #d6a150;
  text-decoration: none;
}

.socials a {
  margin-right: 20px;
  margin-left: 5px;
  color: #d6a150;
  display: inline;
  text-decoration: none;
}

.socials a :hover {
  text-decoration: none;
  color: #444;
}

nav {
  position: fixed;
  z-index: 10;
  left: 0;
  right: 0;
  top: 0;
  padding: 0 5%;
  height: 8vh;
  caret-color: transparent;
  cursor: context-menu;
}

nav .logo {
  float: left;
  width: 40%;
  height: 100%;
  display: flex;
  align-items: center;
  font-size: 24px;
  color: #faf1e6;
}

nav .links {
  float: right;
  padding: 0;
  margin: 0;
  width: 60%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #faf1e6;
  caret-color: transparent;
}

nav .links li {
  list-style: none;
}

nav .links Link {
  display: block;
  padding: 1em;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
}

nav .links :hover {
  color: #d98e20;
}

nav .links :active {
  color: #d98e20;
}

#nav-toggle {
  position: absolute;
  top: -100px;
}

nav .icon-burger {
  display: none;
  position: absolute;
  right: 5%;
  top: 50%;
  transform: translateY(-50%);
}

nav .icon-burger .line {
  width: 30px;
  height: 5px;
  background-color: #faf1e6;
  margin: 5px;
  border-radius: 3px;
  transition: all .3s ease-in-out;
}

@media screen and (max-width: 768px) {
  nav .logo {
    float: none;
    width: auto;
    justify-content: center;
  }

  nav .links {
    float: none;
    position: fixed;
    z-index: 9;
    left: 0;
    right: 0;
    top: 100px;
    bottom: 100%;
    width: auto;
    height: auto;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: rgba(0, 0, 0, .9);
    overflow: hidden;
    box-sizing: border-box;
    transition: all .5s ease-in-out;
  }

  nav .links :hover {
    color: #d98e20;
  }

  nav .links Link {
    font-size: 20px;
  }

  nav :checked~.links {
    bottom: 0;
  }

  nav .icon-burger {
    display: block;
  }

  nav :checked~.icon-burger .line:nth-child(1) {
    transform: translateY(10px) rotate(225deg);
  }

  nav :checked~.icon-burger .line:nth-child(3) {
    transform: translateY(-10px) rotate(-225deg);
  }

  nav :checked~.icon-burger .line:nth-child(2) {
    opacity: 0;
  }

  .image-section img {
    width: 20%;
    height: auto;
    display: block;
  }
}

.homepageContainer {
  padding: 0;
  margin: 0;
}

/* TODO: Delete these 2 test classes */
.test {
  background-color: #d98e20;
  min-height: 700px;
}

.test2 {
  background-color: rgb(37, 127, 201);
  min-height: 700px;
}

.offwhiteSection {
  background-color: #fdfaf6;
  min-height: 700px;
}

.section {
  width: 100%;
  min-height: 100vh;
}

.container {
  width: 88%;
  display: block;
  margin: auto;
  padding-top: 100px;
}

.content-section {
  float: left;
  width: 55%;
  caret-color: transparent;
}

.image-section {
  float: right;
  width: 40%;
  border-radius: 0% 0% 0% 0% / 0% 0% 0% 0%;
  color: white;
  box-shadow: 20px 20px rgba(0, 0, 0, .15);
  transition: all .4s ease;
}

.image-section:hover {
  border-radius: 0% 0% 50% 50% / 0% 0% 5% 5%;
  box-shadow: 10px 10px rgba(0, 0, 0, .25);
}

.image-section img {
  width: 100%;
  height: auto;
}

.content-section .title {
  text-transform: uppercase;
  font-size: 28px;
}

.content-section .content h3 {
  margin-top: 20px;
  color: #5d5d5d;
  font-size: 21px;
}

.content-section .section p {
  margin-top: 10px;
  font-family: sans-serif;
  font-size: 18px;
  line-height: 1.5;
}